@using Warlock.Models

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="The Adam Warlock Collection is a website dedicated to tracking Jack Sutherland's collection of every comic where Adam Warlock makes an appearance. It also serves as a chronology of Warlock comics.'." name="description" />
        <meta content="marvel, warlock, adam warlock, thanos, infinity, infinity watch, pip, pip the troll, drax, drax the destroyer, moondragon, gammorah, starlin, jim starlin, him" name="keywords" />
        <title>The Adam Warlock Collection</title>
        <link href="http://www.southtunnel.com/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/bundles/css")
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a class="logo" href="@Url.Action("Index", "Home")">
                            <img src="~/Images/warlock-logo.png" />
                            <span class="hidden-xs">The Ultimate Adam Warlock Comic Collection</span>
                            <div class="visible-xs margin-left">The Ultimate Adam Warlock Comic Collection</div>
                        </a>                        
                    </div>
                </div>
            </div>
        </header>
        <div class="site-nav hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        @Html.Partial("_Nav")
                    </div>
                    <div class="col-xs-3 hidden-sm text-right">
                        @using (Html.BeginForm("Index", "Series", FormMethod.Post, new { onsubmit = "if($('#search').val().length < 3){ alert('Search criteria is too short. Enter at least 3 characters.'); return false; }" }))
                        {
                            @Html.TextBox("search", "", new { placeholder = "Search Series" })
                            <input type="submit" value="Go" />
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content-container">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="http://www.southtunnel.com">Site by Southtunnel</a> 
                        -  
                        @Html.ActionLink("About", "About", "Home") 
                        - 
                        <a href="http://www.jacksutherland.com">Jack's Website</a> 
                        - 
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </footer>
        
        @Scripts.Render("~/bundles/js")
        @RenderSection("scripts", required: false)
    </body>
</html>
